<div class="row ai-m-b--s end-xs">
  <button class="btn btn-default" {{action
      (pipe (action "createComponent" category) (toggle "showComponentModal" this))}}>Добавить
  </button>
</div>

{{#if category.components.length}}
  {{components-table
      category=category
      onEdit=(action (pipe (action "chooseComponent") (toggle "showComponentModal" this)))
      onDelete=(action "deleteComponent")
  }}
{{/if}}

{{#if showComponentModal}}
  {{#modals/centered-modal
      headerText="Добавить новую компоненту"
      close=(action (pipe (action "resetComponentChanges") (action (toggle "showComponentModal" this))))
      save=(action "saveComponent")
  }}
    <div class="row ai-m-b--s middle-xs">
      <div class="col-xs-3">Наименование</div>
      <div class="col-xs-9">
        {{input value=selectedComponent.title class="form-control" placeholder="Введите наименование"}}
      </div>
    </div>
    {{#each selectedComponent.values as |value|}}
      <div class="row ai-m-b--s middle-xs">
        <div class="col-xs-3">{{value.attribute.title}}</div>
        <div class="col-xs-9">
          {{input value=value.value class="form-control"}}
        </div>
      </div>
    {{/each}}
  {{/modals/centered-modal}}
{{/if}}