<div class="row ai-m-b--l">
  <div class="col-xs-12 text-right">
    <button class="btn btn-primary" {{action (pipe (action "createCategory") (toggle "showAddCategoryModal" this))}}>
      Добавить категорию
    </button>
  </div>
</div>

{{#each categories as |category|}}
  <div class="row ai-m-b--s">
    <div class="panel panel-default col-xs-12">
      <div class="panel-body row middle-xs">
        <h3 class="col-xs">{{category.title}}</h3>
        <div>
          <button class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></button>
          <button class="btn btn-danger" {{action (pipe (action "chooseCategoryForDeleting" category) (toggle "showDeleteCategoryModal" this))}}><span class="glyphicon glyphicon-trash"></span></button>
          {{#link-to "categories.show" category.id classNames="btn btn-default" tagName="button"}}Открыть{{/link-to}}
        </div>
      </div>
    </div>
  </div>
{{/each}}

{{#if showAddCategoryModal}}
  {{#modals/centered-modal
      headerText="Добавить новую категорию"
      close=(action (toggle "showAddCategoryModal" this))
      save=(action "saveCategory")
  }}
    <div class="row ai-m-b--s middle-xs">
      <div class="col-xs-3">Название</div>
      <div class="col-xs-9">
        {{input value=newCategory.title class="form-control" placeholder="Введите название комплектующего изделия"}}
      </div>
    </div>
    <div class="row">
      <h4>Введите необходимые атрибуты изделия</h4>
    </div>
    {{#params-list
        header="Выберите атрибут"
        array=newCategory.attributes
        as |p|
    }}
        {{#power-select
            options=attributes
            selected=p.item
            onchange=(action "chooseAttribute" p.item)
        as |attribute|
        }}
          {{attribute.title}}
        {{/power-select}}
    {{/params-list}}
  {{/modals/centered-modal}}
{{/if}}

{{#if showDeleteCategoryModal}}
  {{#modal-dialog
      targetAttachment="center"
      translucentOverlay=true
      container-class="centered-modal"
      close=(toggle "showDeleteCategoryModal" this)
  }}
    <div class="modal-dialog centered-modal__dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" {{action (toggle "showDeleteCategoryModal" this)}}>&times;</button>
          <h4 class="modal-title">Вы действительно хотите удалить данную категорию?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" {{action (toggle "showDeleteCategoryModal" this)}}>Закрыть</button>
          <button type="button" class="btn btn-danger" {{action (pipe (action "deleteCategory") (action (toggle "showDeleteCategoryModal" this)))}}>Удалить</button>
        </div>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}

