{{#modal-dialog
    targetAttachment="center"
    translucentOverlay=true
    container-class="centered-modal"
    close=close
    renderInPlace=true
}}
  <div class="modal-dialog centered-modal__dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" {{action close}}>&times;</button>
        <h4 class="modal-title">{{headerText}}</h4>
      </div>
      <div class="modal-body">
        {{yield}}
      </div>
      {{#if (not hideButtons)}}
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" {{action close}}>Закрыть</button>
          <button type="button" class="btn btn-primary" {{action (pipe (action save) (action close))}}>Сохранить</button>
        </div>
      {{/if}}
    </div>
  </div>
{{/modal-dialog}}