<div class="row ai-m-b--l">
  <div class="col-xs-12 text-right">
    <button class="btn btn-primary" {{action
        (pipe (action "createAttributeArray") (toggle "showCreateAttributesModal" this))}}>
      Добавить атрибуты
    </button>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th>№</th>
    <th>Наименование</th>
  </tr>
  </thead>
  <tbody>
  {{#each attributes as |attribute index|}}
    <tr>
      <td>{{inc index 1}}</td>
      <td>
        <div class="row">
          <div class="col-xs-6">
            {{#if attribute.isEditing}}
              {{input value=attribute.title class="form-control"}}
            {{else}}
              {{attribute.title}}
            {{/if}}
          </div>
          <div class="col-xs-6 text-right">
            {{#if attribute.isEditing}}
              <div class="btn-group btn-group-sm" role="group" aria-label="...">
                <button type="button" class="btn btn-default" {{action "saveAttribute" attribute}}><span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" class="btn btn-default" {{action "cancelChanges" attribute}}><span class="glyphicon glyphicon-remove"></span></button>
              </div>
            {{else}}
              <div class="btn btn-default btn-sm" {{action "editAttribute" attribute}}><span class="glyphicon glyphicon-pencil"></span></div>
            {{/if}}
          </div>
        </div>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{#if showCreateAttributesModal}}
  {{#modals/centered-modal
      headerText="Добавить аттрибуты"
      close=(action (toggle "showCreateAttributesModal" this))
      save=(action "saveAttributes")
  }}
    {{#params-list
        header="Наименование атрибута"
        array=newAttributes
        as |list|
    }}
      {{input value=list.item.title class="form-control" placeholder="Введите название комплектующего изделия"}}
    {{/params-list}}
  {{/modals/centered-modal}}
{{/if}}
