<div class="row ai-m-b--l">
  <div class="col-xs-12 text-right">
    <button class="btn btn-primary" {{action (pipe (action "createCategory") (toggle "showAddCategoryModal" this))}}>
      Добавить категорию
    </button>
  </div>
</div>

{{#each categories as |category|}}
  <div class="row middle-xs ai-m-b--s">
    <h2 class="col-xs">{{category.title}}</h2>
    <div>
      <button class="btn btn-default" {{action (pipe (action "createComponent" category) (toggle "showAddComponentModal" this))}}>Добавить</button>
    </div>
    {{#if category.components.length}}
      {{components-table category=category}}
    {{/if}}
  </div>
{{/each}}

{{#if showAddCategoryModal}}
  {{#modals/centered-modal
      headerText="Добавить новую категорию"
      close=(action (toggle "showAddCategoryModal" this))
      save=(action "saveCategory")
  }}
    <div class="row ai-m-b--s middle-xs">
      <div class="col-xs-3">Название</div>
      <div class="col-xs-9">
        {{input value=newCategory.title class="form-control" placeholder="Введите название комплектующего изделия"}}
      </div>
    </div>
    <div class="row">
      <h4>Введите необходимые параметры комплектующего изделия</h4>
    </div>
    {{params-list category=newCategory}}
  {{/modals/centered-modal}}
{{/if}}

{{#if showAddComponentModal}}
  {{#modals/centered-modal
      headerText="Добавить новую компоненту"
      close=(action (toggle "showAddComponentModal" this))
      save=(action "saveComponent")
  }}
    <div class="row ai-m-b--s middle-xs">
      <div class="col-xs-3">Наименование</div>
      <div class="col-xs-9">
        {{input value=newComponent.title class="form-control" placeholder="Введите наименование"}}
      </div>
    </div>
    {{#each newComponent.values as |value|}}
      <div class="row ai-m-b--s middle-xs">
        <div class="col-xs-3">{{value.attribute.title}}</div>
        <div class="col-xs-9">
          {{input value=value.value class="form-control"}}
        </div>
      </div>
    {{/each}}
  {{/modals/centered-modal}}
{{/if}}
