<div class="row ai-m-b--l">
  <div class="col-xs-12 text-right">
    <button class="btn btn-primary" {{action (pipe (action "createBoiler") (toggle "showAddBoilerModal" this))}}>
      Добавить
      бак
    </button>
  </div>
</div>

<div class="row ai-m-b--l">
  <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <th>Название</th>
      <th>Диаметр</th>
      <th>Высота обечайки</th>
      <th>Толщина стенки обечайки</th>
      <th>Высота днища</th>
      <th>Вес</th>
      <th>Длина змеевика</th>
    </tr>
    </thead>
    <tbody>
    {{#each boilers as |boiler|}}
      <tr>
        {{#link-to "boiler.wizard" boiler.id tagName="td"}}{{boiler.name}}{{/link-to}}
        {{#link-to "boiler.wizard" boiler.id tagName="td"}}{{boiler.diameter}}{{/link-to}}
        {{#link-to "boiler.wizard" boiler.id tagName="td"}}{{boiler.shellHeight}}{{/link-to}}
        {{#link-to "boiler.wizard" boiler.id tagName="td"}}{{boiler.shellThickness}}{{/link-to}}
        {{#link-to "boiler.wizard" boiler.id tagName="td"}}{{boiler.bottomHeight}}{{/link-to}}
        {{#link-to "boiler.wizard" boiler.id tagName="td"}}{{boiler.weight}}{{/link-to}}
        {{#link-to "boiler.wizard" boiler.id tagName="td"}}{{boiler.pipeLength}}{{/link-to}}
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

{{#if showAddBoilerModal}}
  {{#modals/centered-modal
      headerText="Добавить бак"
      close=(action (toggle "showAddBoilerModal" this))
      hideButtons=true
  }}
    {{#with (changeset newBoiler BoilerValidations) as |changeset|}}
      <div class="row ai-m-b--s {{if changeset.error.name 'has-error'}}">
        <div class="col-xs-4">Название бака</div>
        <div class="col-xs-8">
          {{input value=changeset.name class="form-control" placeholder="Введите название бака"}}
          {{#if changeset.error.name}}
            <small>
              <ul>
                {{#each changeset.error.name.validation as |message|}}
                  <li class="text-danger">{{message}}</li>
                {{/each}}
              </ul>
            </small>
          {{/if}}
        </div>
      </div>
      <div class="row ai-m-b--s {{if changeset.error.diameter 'has-error'}}">
        <div class="col-xs-4">Диаметр</div>
        <div class="col-xs-8">
          <div class="input-group">
            {{input value=changeset.diameter class="form-control" placeholder="Введите название бака"}}
            <span class="input-group-addon">мм</span>
          </div>
          {{#if changeset.error.diameter}}
            <small>
              <ul>
                {{#each changeset.error.diameter.validation as |message|}}
                  <li class="text-danger">{{message}}</li>
                {{/each}}
              </ul>
            </small>
          {{/if}}
        </div>
      </div>
      <div class="row ai-m-b--s {{if changeset.error.shellHeight 'has-error'}}">
        <div class="col-xs-4">Высота обечайки</div>
        <div class="col-xs-8">
          <div class="input-group">
            {{input value=changeset.shellHeight class="form-control" placeholder="Введите высоту обечайки"}}
            <span class="input-group-addon">мм</span>
          </div>
          {{#if changeset.error.shellHeight}}
            <small>
              <ul>
                {{#each changeset.error.shellHeight.validation as |message|}}
                  <li class="text-danger">{{message}}</li>
                {{/each}}
              </ul>
            </small>
          {{/if}}
        </div>
      </div>
      <div class="row ai-m-b--s  {{if changeset.error.shellThickness 'has-error'}}">
        <div class="col-xs-4">Толщина стенки обечайки</div>
        <div class="col-xs-8">
          <div class="input-group">
            {{input value=changeset.shellThickness class="form-control" placeholder="Введите толщину стенки обечайки"}}
            <span class="input-group-addon">мм</span>
          </div>
          {{#if changeset.error.shellThickness}}
            <small>
              <ul>
                {{#each changeset.error.shellThickness.validation as |message|}}
                  <li class="text-danger">{{message}}</li>
                {{/each}}
              </ul>
            </small>
          {{/if}}
        </div>
      </div>
      <div class="row ai-m-b--s {{if changeset.error.bottomHeight 'has-error'}}">
        <div class="col-xs-4">Высота днища</div>
        <div class="col-xs-8">
          <div class="input-group">
            {{input value=changeset.bottomHeight class="form-control" placeholder="Введите высоту днища"}}
            <span class="input-group-addon">мм</span>
          </div>
          {{#if changeset.error.bottomHeight}}
            <small>
              <ul>
                {{#each changeset.error.bottomHeight.validation as |message|}}
                  <li class="text-danger">{{message}}</li>
                {{/each}}
              </ul>
            </small>
          {{/if}}
        </div>
      </div>
      <div class="row ai-m-b--s {{if changeset.error.weight 'has-error'}}">
        <div class="col-xs-4">Вес</div>
        <div class="col-xs-8">
          <div class="input-group">
            {{input value=changeset.weight class="form-control" placeholder="Введите высоту днища"}}
            <span class="input-group-addon">кг</span>
          </div>
          {{#if changeset.error.weight}}
            <small>
              <ul>
                {{#each changeset.error.weight.validation as |message|}}
                  <li class="text-danger">{{message}}</li>
                {{/each}}
              </ul>
            </small>
          {{/if}}
        </div>
      </div>
      <div class="row ai-m-b--s {{if changeset.error.pipeLength 'has-error'}}">
        <div class="col-xs-4">Длина змеевика</div>
        <div class="col-xs-8">
          <div class="input-group">
            {{input value=changeset.pipeLength class="form-control" placeholder="Введите высоту днища"}}
            <span class="input-group-addon">м</span>
          </div>
          {{#if changeset.error.pipeLength}}
            <small>
              <ul>
                {{#each changeset.error.weight.pipeLength as |message|}}
                  <li class="text-danger">{{message}}</li>
                {{/each}}
              </ul>
            </small>
          {{/if}}
        </div>
      </div>
      <div class="text-right">
        <button type="button" class="btn btn-default" data-dismiss="modal" {{action (toggle "showAddBoilerModal" this)}}>Закрыть</button>
        <button type="button" class="btn btn-primary" {{action "saveBoiler" changeset}}>Сохранить</button>
      </div>
    {{/with}}
  {{/modals/centered-modal}}
{{/if}}